#root {                  /* assuming your React root div */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html{
    height: 100%;
    margin: 0;
}

body{
    background-color: #BA9D55;
    text-align: center;
}
img.logo{ /*element.clssName*/
    width: 25%;
}
#mainContent hr{
    color: #5A2917;
}
#mainContent{
    text-align: center;
}
.meals{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.showOrderNoButton{
    display: none;
    border: 1px;
    background-color: #5A2917;
    color: white;
    height: 25px;
    align-items: center;
}